services:
  frontend:
    build:
      context: frontend
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules/ # Anonymous volume to avoid overwriting the node_modules with the user's local node_modules
    ports:
      - "3000:3000"
    environment:
      VITE_API_URL: "http://localhost:8000"
  backend:
    build:
      dockerfile: backend.Dockerfile
      target: dev
    volumes:
      - ./common:/common
      - ./backend:/app
      - /app/.venv/ # Anonymous volume to avoid overwriting the venv with the user's local venv
    ports: 
      - "8000:8000"
    environment:
      VALKEY_URL: "valkey://cache"
      ALLOWED_ORIGINS: "http://localhost:3000"
      INCLUDE_DEV_STATIONS: "true"
  pollers:
    build:
      dockerfile: pollers.Dockerfile
      target: dev
    volumes:
      - ./common:/common
      - ./pollers:/app
      - /app/.venv/ # Anonymous volume to avoid overwriting the venv with the user's local venv
    environment:
      VALKEY_URL: "valkey://cache"
      INCLUDE_DEV_STATIONS: "true"
  cache:
    image: docker.io/valkey/valkey-bundle:8-alpine
