.header {
	padding: 16px;
	background-color: var(--bg-color);
	color: var(--text-color);
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
	overflow: hidden;
}

.headerBackground {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center;
}

@keyframes overlayFadeIn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.66;
	}
}

.headerBackground::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--bg-color);
	animation: overlayFadeIn 600ms ease-in forwards;
}

.headerContent {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.41);
}

.title {
	font-size: 1.5em;
	line-height: 1.5;
	font-weight: bold;
	margin: 0;
}

.time {
	margin: 0;
	font-size: 1.25em;
	line-height: 1.25;
}

.closeButton {
	composes: buttonHoverContrast from "../common/common.module.css";
	background: none;
	border: none;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	z-index: 1;
}
