.channel {
	container: channel;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px 0;
	background-color: var(--bg-color, #fff);
	color: var(--text-color, #000);
}

.channelName {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	margin: 0 16px;
	color: var(--contrast-color);

	/* Add container width relative top padding to compensate for h2's overflow.  */
	padding: calc(max(0px, 0.75cqw - 16px)) 0;

	& > h2 {
		margin: 0;
		/* Use fixed line-height to keep the first line aligned with the play button. */
		line-height: 32px;
		font-size: calc(max(1.5em, 1.5cqw));
	}
}

.channelInfo {
	margin: 0 16px;
}

.programs {
	display: flex;
	flex-direction: column;
	gap: 16px;

	& > * {
		padding-bottom: 8px;
		border-bottom: 2px solid var(--text-color, #000);
	}
}

.showMoreButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: none;
	color: var(--text-color, #000);
	border: none;
	padding: 8px 0;
}

.nowPlaying {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px 16px;

	& > h4 {
		font-size: 1.15em;
		line-height: 1.1;
		font-weight: 400;
		margin: 0;
	}

	& > span {
		font-weight: 700;
	}
}

.listenerCount {
	font-weight: 400;
	font-size: 0.75em;
	margin-left: 8px;
	display: inline-flex;
	gap: 4px;
	vertical-align: middle;
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}
