.channels {
	width: 100%;
	flex-grow: 1;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-auto-rows: max-content;
	min-width: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 700px) {
	.channels {
		grid-auto-rows: 1fr;
	}
}

.channelSkeleton {
	display: flex;
	background: var(--bg-color);
	padding: 16px;
	min-height: 300px;

	&:nth-child(odd) {
		--bg-color: color-mix(
			in srgb,
			var(--default-bg-color) 90%,
			var(--default-text-color)
		);
	}

	&:nth-child(even) {
		--bg-color: color-mix(
			in srgb,
			var(--default-bg-color) 80%,
			var(--default-text-color)
		);
	}
}

.nameSkeleton {
	width: 100%;
	height: 36px;
	background: color-mix(
		in srgb,
		var(--bg-color) 90%,
		var(--default-text-color)
	);
	border-radius: 4px;
}
