.programWrapper {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	transition: background-color 0.1s ease-in-out;
	background: none;
	border: none;
	text-align: left;
	color: var(--text-color);
	/* Add negative margin and then counter it with additional padding, to get a good looking hover state */
	margin: -8px;
	padding: 8px;

	&:is(button) {
		cursor: pointer;

		&:hover {
			background-color: color-mix(
				in srgb,
				var(--bg-color, #fff) 85%,
				var(--text-color, #000)
			);
		}
	}
}

.scheduleLabel {
	width: 100%;
	font-size: 1em;
}

.program {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding-bottom: 8px;

	h3 {
		margin: 0;
		font-size: 1.25em;
		line-height: 1;
	}
}

.noProgram {
	font-weight: 500;
}

.time {
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
	line-height: 1;
}
