.programWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: background-color 0.1s ease-in-out;
	background: none;
	border: none;
	text-align: left;
	color: var(--text-color);
	gap: 4px;
	padding: 8px 16px;

	&:is(button) {
		cursor: pointer;

		&:hover {
			background-color: color-mix(
				in srgb,
				var(--bg-color, #fff) 85%,
				var(--text-color, #000)
			);
		}
	}
}

.scheduleLabel {
	width: 100%;
	font-size: 1em;
}

.program {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.programTitle {
	font-size: 1.15em;
	line-height: 1;
	font-weight: 700;
}

.noProgram {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.time {
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
	line-height: 1;
}

.programGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 8px;

	& > h3 {
		font-size: 1.3em;
		font-weight: 400;
		margin: 0 16px;
	}

	& > ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;

		li {
			display: flex;
			width: 100%;
			list-style: none;
		}
	}
}
