.countdownNumber {
	composes: rainbowText from "../common/common.module.css";
	font-family: "Bungee", sans-serif;
	font-size: 96px;
	line-height: 1;
}

.countdownLabel {
	composes: rainbowText from "../common/common.module.css";
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	animation-delay: 0.5s;
}

.offSeasonWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;

	&::before {
		content: "";
		flex: 1;
	}

	&::after {
		content: "";
		flex: 2;
	}
}

.offSeasonCountdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 32px;
	background-color: color-mix(in srgb, var(--text-color) 8%, transparent);
	border-radius: 16px;
}

.offSeasonMessage {
	margin-top: 16px;
	font-size: 16px;
	color: var(--text-color);
	text-align: center;
}

.ribbonCountdown {
	position: fixed;
	z-index: 2;

	width: 100%;
	bottom: 24px;
	right: 24px;
	transform-origin: bottom;
	transform: translateX(50%) rotate(-45deg);

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: color-mix(in srgb, black 20%, transparent);
	backdrop-filter: blur(4px);
}

.ribbonLabel {
	font-weight: bold;
	font-size: 20px;
	color: var(--text-color);
}

.ribbonNumber {
	font-size: 52px;
}
