.programGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.nothingToShow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	color: white;
	font-size: 24px;
	margin: 0;
}

.guideDivider {
	width: 100%;
	background: var(--bg-color-darker);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 0;
	position: sticky;
	top: var(--nav-height);
	z-index: 1;

	& h2 {
		color: var(--text-color);
		margin: 0;
		font-weight: 500;
	}
}
