.playerBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 8px var(--horizontal-padding);
	background-color: var(--bg-color);
	color: var(--text-color);
	border-top: 2px solid var(--contrast-color);
	position: sticky;
	bottom: 0;
	width: 100%;
	gap: 4px;
	container: playerBar;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	& > * {
		width: 100%;
	}
}

.controlsRow {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.progressBarContainer {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
	position: relative;
}

.volumeButton {
	composes: buttonHoverContrast from "../common/common.module.css";
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.volumeSliderContainer {
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	right: 0;
	background: var(--bg-color);
	padding: 16px;
	z-index: 1;
	border: 2px solid var(--contrast-color);
	display: flex;
	justify-content: center;
}

.volumeSlider {
	writing-mode: vertical-lr;
	direction: rtl;
	appearance: slider-vertical;
	vertical-align: bottom;
	height: 150px;
}
