.oldContainer {
	background-color: white;
	font-family: sans-serif;
	margin: 2em;
	overflow: auto;
}

.oldContainer a {
	color: revert;
}

.oldContainer table {
	border-collapse: collapse;
	min-width: 100%;
}

.oldContainer th,
.oldContainer td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.oldContainer th {
	background-color: #f2f2f2;
}
