@import "./reset.css";

body {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #282c34;
	overflow-y: auto;

	&:has(dialog) {
		overflow: hidden;
	}
}

#root {
	min-height: 100vh;
	display: flex;
}

button {
	cursor: pointer;
}
