.playButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--text-color, #000);
	color: var(--bg-color, #fff);
	border-radius: 100%;
	width: 32px;
	height: 32px;
}
