.app {
	display: flex;
	flex-direction: column;
	width: 100vw;
	font-family: "Roboto Condensed", sans-serif;

	--default-bg-color: #282c34;
	--bg-color: var(--default-bg-color);
	--default-text-color: white;
	--text-color: var(--default-text-color);
	--horizontal-padding: 8px;
}

@media (min-width: 600px) {
	.app {
		--horizontal-padding: 16px;
	}
}

header {
	padding: 16px;
	color: white;
	background-color: var(--bg-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.headerLogo {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	column-gap: 16px;
	row-gap: 8px;

	& > h1 {
		margin: 0;
		font-family: "Bungee", sans-serif;

		& > small {
			font-size: 0.5em;
		}
	}

	& > img {
		animation: spin 1s linear infinite forwards;
		animation-play-state: paused;

		&:hover {
			animation-play-state: running;
		}
	}
}

@media (min-width: 360px) {
	.headerLogo {
		flex-direction: row;
	}
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: var(--bg-color);
	position: relative;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.dimmedContent {
	composes: content;
	opacity: 0.3;
	transition: opacity 0.2s ease-in-out;
}

.headerLinks {
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}

.headerLink {
	composes: buttonHoverInverse from "./common/common.module.css";

	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	&:visited {
		color: inherit;
	}
}
