name: 'Docker: Backend'

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker.yml'
      - '.github/workflows/docker-backend.yml'
      - 'common/**'
      - 'backend/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/docker.yml'
      - '.github/workflows/docker-backend.yml'
      - 'common/**'
      - 'backend/**'
  workflow_dispatch:
    inputs:
      force-push:
        description: 'Push the image even if not on default branch  (tagged with SHA only on other branches)'
        default: false
        type: boolean

jobs:
  docker:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/docker.yml
    with:
      container-name: 'wappregator-backend'
      dockerfile: 'backend.Dockerfile'
      force-push: ${{ inputs.force-push || false }}
