name: 'Docker: Frontend'

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker.yml'
      - '.github/workflows/docker-frontend.yml'
      - 'frontend/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/docker.yml'
      - '.github/workflows/docker-frontend.yml'
      - 'frontend/**'
  workflow_dispatch:
    inputs:
      force-push:
        description: 'Push the image even if not on default branch  (tagged with SHA only on other branches)'
        default: false
        type: boolean

jobs:
  docker:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    uses: ./.github/workflows/docker.yml
    with:
      container-name: 'wappregator-frontend'
      working-directory: 'frontend'
      build-args: |
        VITE_API_URL=/api
        VITE_SOCKETIO_PATH=/api/socket.io/
      force-push: ${{ inputs.force-push || false }}
